In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 20,10
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
from glob import glob

In [9]:
x=sorted(glob("uber-raw-data-*"))
x

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [10]:
pd.concat((pd.read_csv(file).assign(filename=file)
          for file in x),ignore_index=True)

                  Date/Time      Lat      Lon    Base                 filename
0          4/1/2014 0:11:00  40.7690 -73.9549  B02512  uber-raw-data-apr14.csv
1          4/1/2014 0:17:00  40.7267 -74.0345  B02512  uber-raw-data-apr14.csv
2          4/1/2014 0:21:00  40.7316 -73.9873  B02512  uber-raw-data-apr14.csv
3          4/1/2014 0:28:00  40.7588 -73.9776  B02512  uber-raw-data-apr14.csv
4          4/1/2014 0:33:00  40.7594 -73.9722  B02512  uber-raw-data-apr14.csv
...                     ...      ...      ...     ...                      ...
4534322  9/30/2014 22:57:00  40.7668 -73.9845  B02764  uber-raw-data-sep14.csv
4534323  9/30/2014 22:57:00  40.6911 -74.1773  B02764  uber-raw-data-sep14.csv
4534324  9/30/2014 22:58:00  40.8519 -73.9319  B02764  uber-raw-data-sep14.csv
4534325  9/30/2014 22:58:00  40.7081 -74.0066  B02764  uber-raw-data-sep14.csv
4534326  9/30/2014 22:58:00  40.7140 -73.9496  B02764  uber-raw-data-sep14.csv

[4534327 rows x 5 columns]

In [11]:
x['Date/Time'] = pd.to_datetime(x['Date/Time'], format="%m/%d/%Y %H:%M:%S")
x['DayOfWeekNum'] = x['Date/Time'].dt.dayofweek
x['DayOfWeek'] = x['Date/Time'].dt.weekday
x['MonthDayNum'] = x['Date/Time'].dt.day
x['HourOfDay'] = x['Date/Time'].dt.hour
x['MinOfDay'] = x['Date/Time'].dt.minute
x.head()

TypeError: list indices must be integers or slices, not str